/*icon 初始样式*/
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*头部样式*/
#header{
    width: 100%;
    height: 95px;
    background-color: #069F7D;
    display: flex;
    justify-content: center;
}
#header>div{
    margin: 0 60px;
}
#header #header-operation{
    flex:2;
    display: flex;
}
#header #header-title{
    flex: 4;
    color: white;
    font-size: 28px;
    line-height: 95px;
    text-align: center;
}
#header #header-login-state {
    flex: 2;
    height: 95px;
    color: white;
    font-size: 14px;
    position: relative;
    /*display: flex;*/
}
#header .header-user-photo {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin-top: 22px;
    display: inline-block;
}

#header .header-user-inf {
    position: absolute;
    display: inline-block;
    height: 50px;
    left: 65px;
    top: 25px;
}
#header .header-user-name {
    margin-bottom: 5px;
}

#header .header-user-icon {
    width: 50px;
    height: 50px;
    color: #069F7D;
}

#header .t-icon-menu {
    width: 40px;
    height: 40px;
    color: white;
    margin-top: 22px;
    cursor: pointer;
}
#header .t-icon-alert {
    width: 40px;
    height: 40px;
    color: white;
    margin-top: 20px;
    margin-left: 60px;
    cursor: pointer;
}

/*内容样式*/
#content{
    /*position: relative;*/
    /*overflow: scroll;*/
    /*background-color: #f6f6f6;*/
}

/*底部样式*/
#footer-content{
    width: 100%;
    height: 150px;
    background-color: #666666;
    display: flex;
}
/*组件通用样式*/
.t-btn{
    width: 150px;
    height: 60px;
    border-radius: 30px;
    opacity: 100%;
    border: 1px solid #069F7D;
    color: #069F7D;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    margin: 27px;
}
.t-btn:hover {
    background-color: #069F7D;
    color: white;
    cursor: pointer;
}

.t-span{
    margin-top: 14px;
}
.t-badge{
    display: inline-block;
    position: relative;
    top: -7px;
    left: 1px;
    min-width: 10px;
    max-width: 15px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: red;
    border-radius: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
}
.t-badge:empty{
    display: none;
}

.input-container {
    position: relative;
    width: 660px;
    height: 48px;
    line-height: 48px;
    margin-bottom: 10px;
}
.t-input{
    position: absolute !important;
    height: 48px !important;
    padding: 0 !important;
    width: 402px; !important;
    border: none !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #069F7D !important;
    color: white !important;
    font-size: 24px !important;
    left: 165px;
}
.label-input{
    left: 174px!important;
    width: 302px; !important;
}
.t-input::-webkit-input-placeholder{
    color: white;
    font-size: 24px;
    line-height: 48px;
    /*text-align: center;*/
}
.input-icon {
    position: absolute !important;
    display: inline-block;
    height: 48px;
    width: 55px;
    left: 110px;
    background-color: #069F7D;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.label-icon {
    left: 120px;
}

.input-icon-user{
    width: 36px;
    height: 36px;
    color: white;
    margin-left: 10px;
    margin-top: 6px;
}
.input-icon-scan{
    width: 36px;
    height: 36px;
    color: white;
    margin-left: 10px;
    margin-top: 6px;
}
.input-icon-kg{
    width: 36px;
    height: 36px;
    color: white;
    margin-left: 10px;
    margin-top: 6px;
}
.input-icon-password{
    width: 36px;
    height: 36px;
    color: white;
    margin-left: 10px;
    margin-top: 6px;
}
.multi-line{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.tck-tpl-div{
    margin-top: 0 !important;
    margin-left: -100px;
}
.chose-tpl-div{
    width: 70%;
    margin-left: 100px;
}
.tck-tpl-div a{
    width:100px !important;
    height:40px !important;
    font-size:16px !important;
    line-height:40px !important;
}

/*菜单样式*/
#menu{
    width: 200px;
    height: 100%;
    background: #222222;
    position: absolute;
    z-index: 9999;
    top: 95px;
}
#menu ul{
    margin: 0!important;
}
#menu li{
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 20px;
}

#menu li a {
    display: inline-block;
    margin-left: 20px;
    width: 180px;
    color: #BDBDBD;
}
#menu li:hover {
    background-color: black;
}
.t-icon-menuContent{
    width: 20px;
    height: 20px;
    color: #BDBDBD;
    margin-right: 15px;
}

/**/
#show-panel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
}
#showPanel-multiColumn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#showPanel-multiLine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 24px !important;
}

/*tab样式*/
#t-tab {
    height: 100%;

}
#t-tab .tabs-nav{
    margin: 0;
    background-color: #3C3F41;
}
#t-tab .tabs-content{
    height: 90%;
}
#t-tab .tabs-tab:first-child{
    margin-left: 50px;
}
#t-tab .tabs-tab{
    float: left;
    list-style: none;
    font-size: 16px;
    margin-right: 24px;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#t-tab .tab-nav-active{
    border-bottom: 3px solid #069F7D;
    color: #069F7D;
    cursor: default;
    background-color: #515658;
}
.tabs-content .tabs-panel{
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: auto;
    overflow-x:hidden;
}
.tabs-content .tabs-panel iframe{
    border: none !important;
}
.tabs-content .tab-panel-active{
    height: 100%;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
    /*flex-wrap: wrap;*/
    background-color: #F6F6F6;
}
/*表格样式*/
/*工具栏*/
.toolbar{
    height: 45px !important;
    line-height: 45px !important;
    font-size: 22px !important;
    color: #4b4b4b;
}
.toolbar .operation-icon:hover{
    color: #069F7D;
    cursor: pointer;
}
.toolbar .operation-icon {
    margin-left: 30px;
}
.toolbar .icon {
    width: 28px;
    height: 28px;
    vertical-align: -0.31em
}
/*查询面板*/
.query{
    width: 100%;
    display: inline-block;
    /*border: 1px solid #cccccc;*/
    background-color: white;
}
.query-group{
    display: inline-flex;
    margin: 15px 15px 7px 15px;
}
.query-label{
    margin-right: 5px;
    line-height: 30px;
}
.query-btn{
    display: inline-block;
    width:100px;
    margin: 0 15px 0 15px;
    top:6px;
    height: 30px;
    background-color: #069F7D;
    /*color: white;*/
    /*font-size: 22px;*/
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}
.query-span{
    color: white;
    font-size: 22px;
    position: absolute;
    top:0;
    /*font-weight: bold;*/
    /*line-height: 15px;*/
    margin-left: 5px !important;
    height: 30px;
    float: none !important;
}
.query-icon {
    color: white;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.pager-icon {
    color: #6caad4;
    width: 26px;
    height: 26px;
    margin-left: 15px;
}
/*表格样式*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #F1F1F1 !important;
}
.ui-jqgrid{
    border: 1px solid #cccccc !important;
    border-radius: 0 !important;
    margin-top: 20px!important;
    margin-bottom: 20px!important;

}
.ui-jqgrid-hdiv{
    background-color: #f1f1f1!important;
    height: 34px!important;
    font-size: 16px!important;
    font-family: Arial!important;
    font-weight: bold!important;
}
.ui-jqgrid-htable tr{
    height: 34px !important;
}
.ui-jqgrid-sortable{
    color: black!important;
    height: 23px!important;
    margin-top: 3px!important;
}
.ui-jqgrid-view tbody tr{
    font-size: 13px!important;
    height: 32px!important;
    border: 1px solid #cccccc !important;
}
/*.ui-jqgrid-view tbody tr :hover{*/
    /*background: #d0e7ff !important;*/
/*}*/
.ui-jqgrid-view tbody tr td{
    line-height: 31px!important;
    color: black !important;
}
.ui-jqgrid-view tbody tr:nth-child(even){
    background: #ffffff;
}
.ui-jqgrid-view tbody tr:nth-child(odd){
    background: #e8fff7;
}
.ui-jqgrid-view tbody .jqgfirstrow:first-child{
    height: 0!important;
}
.ui-jqgrid-view tbody .select{
    background: #d0e7ff !important;
}
.singleTable{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rtTable{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rtTable .ui-jqgrid-pager{
    text-align: center;
    line-height: 40px;
}
.associationTable{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*#pager {*/
    /*height: 40px;*/
/*}*/
/*#pg_pager .ui-icon{*/
    /*width: 30px;*/
    /*height: 30px;*/
/*}*/
/*#pg_pager .ui-icon-seek-firs{*/
    /*background-position:-150px -300px !important;*/
/*}*/

/*步骤栏*/
.steps {
    display: flex;
    justify-content: center;
    width: 80%;
    position: relative;
}
.step{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    width: 100%;
    color:#999999;
}
.steps-item{
    position: relative;
    flex: 1;
}
.steps-main{
    margin: 0 10px;
}
.steps-tail{
    position: absolute;
    width: 100%;
    top: 25px;
    box-sizing: border-box;
    padding: 0 10px 0 70px;
}
.steps-status-process .steps-tail::after{
    content: '';
    display: inline-block;
    vertical-align: top;
    background: #21AD91;
    height: 1px;
    border-radius: 1px;
    width: 100%;
    position: relative;
}
.steps-status-wait .steps-tail::after{
    content: '';
    display: inline-block;
    vertical-align: top;
    background: #a4a4a4;
    height: 1px;
    border-radius: 1px;
    width: 100%;
    position: relative;
}
.steps-icon-1,.steps-icon-2,.steps-icon-3,.steps-icon-4,.steps-icon-5,.steps-icon-6,.steps-icon-7,.steps-icon-8,.steps-icon-9 {
    width: 50px;
    height: 50px;
}