.rl-drag{
	width: 1px;
	position: absolute;
}
.rl-drag:before{
	/*扩展自释区域*/
	content: "";
	position: absolute;
	height: 100%;
	width: 20px;
	top: 0;
	right: -10px;
}
.rl-drag:hover{
	background: #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}

.tb-drag{
	height: 1px;
	position: absolute;
}
.tb-drag:before{
	/*扩展自释区域*/
	content: "";
	position: absolute;
	width: 100%;
	height: 20px;
	top: -10px;
	left: 0;
}
.tb-drag:hover{
	background: #ccc;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}