body {
	background: rgb(255, 255, 255); margin: 0px; font-family: arial,"Microsoft Yahei"; font-size: 14px;
}
h1 {
	color: rgb(0, 0, 0); padding-left: 5px; font-family: arial,ו,"Microsoft Yahei"; font-size: 24px;
}
h3 {
	color: rgb(102, 102, 102); font-family: arial,"Microsoft Yahei"; font-size: 14px;
}
h2 {
	margin: 20px 0px -10px; color: rgb(0, 0, 0); font-size: 16px;
}
hr {
	width: 1200px;
}
a {
	color: rgb(102, 102, 102); text-decoration: none;
}
a:hover {
	color: rgb(199, 0, 37);
}
img {
	border: currentColor; border-image: none;
}
#dv_by {
	background: url("../images/bkg.png") repeat-x left 28px; color: rgb(102, 102, 102);
}
#dv_top {
	margin: 0px auto; width: 1200px; height: 60px;
}
#menu {
	margin: 15px 0px 0px; width: 740px; height: 32px; float: right; display: inline;
}
#menu ul {
	margin: 0px; padding: 0px; height: 32px; line-height: 32px; float: left; display: block;
}
#menu ul li {
	width: 105px; height: 32px; text-align: center; float: left; display: inline;
}
#menu ul li a {
	height: 32px; color: rgb(51, 51, 51); line-height: 32px; font-size: 16px; display: block;
}
#menu ul li a:hover {
	color: rgb(255, 255, 255); background-color: rgb(199, 0, 37);
}
#menu ul .l_bg ul {
	top: 0px; bottom: 32px; display: none; position: relative;
}
#menu ul li:hover ul {
	display: block;
}
#menu ul li ul li a {
	text-align: left; padding-left: 15px; font-size: 14px; font-weight: normal; display: block; background-color: rgb(255, 255, 255);
}
#dv_logo {
	padding-top: 10px; float: left;
}
#dv_lnav {
	background: rgb(255, 255, 255); width: 40px; height: auto; float: left;
}
#dv_main {
	margin: 0px auto; width: 1200px;
}
.dv_focus {
	margin: 20px 0px 10px; width: 1200px; height: 167px;
}
.dv_fop {
	padding: 10px; border: 0px solid rgb(238, 238, 238); border-image: none; width: 274px; height: 145px; overflow: hidden; margin-right: 8px; float: left; cursor: pointer; background-color: rgb(255, 255, 255);
}
.dv_fop h3 {
	margin: 0px; padding: 0px; color: rgb(0, 0, 0);
}
.dv_fop img {
	width: 145px; height: 145px; margin-left: 5px; float: right;
}
.dv_fop p {
	margin: 3px 0px; padding: 0px; line-height: 150%; overflow: hidden; font-size: 12px;
}
.dv_fop a:hover {
	background-color: rgb(102, 102, 102);
}
#dv_mid {
	width: 1240px; height: 80px;
}
#dv_aul {
	margin: 15px 12px 0px 0px;
}
#dv_aum {
	margin: 15px 10px 0px;
}
#dv_aur {
	margin: 15px 0px 0px 12px;
}
#dv_bott {
	height: 10px;
}
#dv_botc {
	padding: 15px 0px; height: 180px; border-top-color: rgb(51, 51, 51); border-top-width: 0px; border-top-style: solid; background-color: rgb(68, 68, 68);
}
.dv_bcon {
	width: 320px; color: rgb(238, 238, 238); padding-left: 60px; font-size: 12px; float: left;
}
.linx {
	background: url("../images/ico_link.png") no-repeat left 10px;
}
.download {
	background: url("../images/ico_download.png") no-repeat left 10px;
}
.contactus {
	background: url("../images/ico_phone.png") no-repeat left 10px; width: 380px;
}
#dv_adr {
	background: url("../images/QRCode.png") no-repeat right top; color: rgb(238, 238, 238); line-height: 200%; font-size: 12px;
}
#dv_tel {
	color: rgb(153, 0, 51); font-size: 20px; font-weight: bold;
}
.dv_bcon a {
	color: rgb(238, 238, 238);
}
.dv_bcon a:hover {
	color: rgb(199, 0, 37);
}
#dv_cop {
	background: url("../images/top_bkg.png") rgb(153, 153, 153); height: 32px; color: rgb(238, 238, 238); line-height: 28px; clear: both; font-size: 12px;
}
#dv_cop a {
	color: rgb(238, 238, 238);
}
#dv_cop a:hover {
	color: rgb(199, 0, 37);
}
#it_txt {
	border: 1px solid rgb(0, 0, 0); border-image: none; width: 200px;
}
#it_but {
	border: 1px solid rgb(0, 0, 0); border-image: none; width: 50px;
}
.btn {
	border: 0px currentColor; border-image: none; width: 80px; height: 24px; color: rgb(51, 51, 51); font-family: arial, "Microsoft Yahei"; font-size: 14px; background-color: rgb(221, 221, 221);
}
.btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(199, 0, 37);
}
.btnFeedback {
	width: 544px; height: 40px; font-size: 16px;
}
.btnSearchJob {
	width: 80px; height: 24px;
}
.dv_d {
	background: url("../Images/dd_nav.jpg") no-repeat; padding: 20px 0px 0px 20px; top: 85px; width: 450px; height: 200px; color: rgb(51, 51, 51); display: none; position: absolute;
}
.dv_mnav {
	background: url("images/mnav_bg.jpg"); padding: 10px; width: 275px; height: 60px; color: rgb(153, 51, 51); font-size: 18px; cursor: pointer;
}
.dv_mlnav {
	margin: 20px 3px 10px 0px; float: left;
}
.dv_mmnav {
	margin: 20px 3px 10px; float: left;
}
.dv_mrnav {
	margin: 20px 0px 10px 3px; float: left;
}
.dv_sign {
	margin: 40px 10px 10px 0px; float: right;
}
.dv_con {
	background: rgb(102, 102, 102); width: 1200px; display: none;
}
.dv_bt {
	margin: 0px; color: rgb(153, 51, 51);
}
.dv_aup {
	width: 385px; height: 315px; overflow: hidden; float: left;
}
.dv_newc {
	margin: 0px 4px 10px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 190px; height: 100px; float: left;
}
.dv_newc td {
	color: rgb(0, 0, 0); font-size: 14px;
}
.dv_btit {
	width: 340px; height: 48px; color: rgb(255, 255, 255); line-height: 48px; padding-left: 60px; font-size: 20px; float: left;
}
.dv_btit img {
	float: left; display: inline;
}
.dv_btit span {
	height: 40px; line-height: 40px; margin-left: 7px; float: left; display: inline;
}
.tb_lnav {
	width: 30px; height: 200px; text-align: center;
}
.tb_mnav {
	margin: 0px 30px; color: rgb(255, 255, 255); font-size: 14px;
}
.tb_mnav td {
	width: 600px; height: 35px;
}
.tb_leave {
	padding: 30px 0px 0px 30px; border: currentColor; border-image: none; float: left; display: inline;
}
.tb_leave tr td {
	vertical-align: top;
}
.td_new {
	width: 190px;
}
.td_botc td {
	padding: 4px 30px 4px 0px;
}
#dv_keywords {
	padding: 10px; line-height: 300%; background-color: rgb(255, 255, 255);
}
#dv_keywords a:hover {
	color: rgb(51, 51, 51); text-decoration: underline;
}
.txt_keys {
	font-family: arial,ו;
}
.txt_cics {
	color: rgb(0, 102, 204); font-size: 28px;
}
.txt_asm {
	color: rgb(76, 176, 50); font-size: 40px;
}
.txt_ics {
	color: rgb(0, 0, 0); font-size: 28px;
}
.txt_coal {
	color: rgb(102, 102, 102); font-size: 18px;
}
.txt_intelligence {
	color: rgb(154, 207, 22); font-size: 24px;
}
.txt_automatic {
	color: rgb(0, 181, 239); font-size: 18px;
}
.txt_bottle {
	color: rgb(0, 161, 102); font-size: 24px;
}
.txt_patent {
	color: rgb(32, 73, 141); font-size: 36px;
}
.txt_monitor {
	color: rgb(76, 176, 50); font-size: 24px;
}
.txt_transport {
	font-size: 16px;
}
.txt_sample {
	color: rgb(0, 181, 239); font-size: 36px;
}
#dv_rcnav h3 {
	padding: 5px; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid; background-color: rgb(241, 241, 241);
}
.clr {
	clear: both;
}
#dv_cby {
	background: url("../images/bkg.png") repeat-x left 28px; color: rgb(102, 102, 102);
}
#dv_ctop {
	background: rgb(255, 255, 255); width: 1200px;
}
#dv_clogo {
	padding: 10px 33px;
}
#dv_ctword {
	color: rgb(102, 102, 102); padding-left: 40px; font-size: 13px;
}
#dv_cad {
	height: 120px; text-align: center; padding-top: 10px; background-color: rgb(255, 255, 255);
}
#dv_cmain {
	margin: 0px auto; width: 1200px; color: rgb(102, 102, 102); line-height: 200%; min-height: 550px;
}
#dv_cmain h1 {
	margin: 0px; padding: 0px;
}
#dv_lcnav {
	width: 200px; float: left;
}
#dv_mccon {
	padding: 25px; width: 720px; line-height: 200%; float: left;
}
#dv_mccon td {
	height: 40px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#dv_mccon p {
	line-height: 200%; text-indent: 0px; clear: both; font-family: arial, "Microsoft Yahei";
}
#dv_mccon a:hover {
	color: rgb(199, 0, 37);
}
#dv_rcnav {
	width: 230px; float: right;
}
#dv_rcnav p {
	text-indent: 0px;
}
#dv_map {
	margin: 15px 15px 0px; float: left;
}
#dv_map h1 {
	font-size: 15px;
}
#dv_stu {
	margin-bottom: 20px;
}
#dv_stu strong {
	font-size: 14px;
}
#dv_stu p {
	margin: 0px; padding: 0px; text-indent: 0em;
}
.tb_lcnav {
	margin: 15px 0px 0px; width: 200px;
}
.tb_lcnav td {
	height: 30px; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid;
}
.tb_lcnav td:hover {
	background-color: rgb(255, 255, 255);
}
.tb_lcnav a {
	color: rgb(102, 102, 102);
}
.tb_lcnav a:hover {
	color: rgb(0, 0, 0);
}
.tb_ban {
	margin: 20px 0px 0px; width: 650px;
}
.tb_link {
	width: 210px;
}
.tb_link td {
	margin: 0px; padding: 0px;
}
#topline {
	background: url("../images/top_bkg.png") rgb(153, 153, 153); padding: 1px 10px; height: 24px; text-align: right; color: rgb(221, 221, 221); font-family: arial,"Microsoft Yahei"; font-size: 16px; border-bottom-color: rgb(136, 136, 136); border-bottom-width: 2px; border-bottom-style: solid;
}
.toplink {
	margin: 0px auto; width: 1200px;
}
.homepage {
	background: url("../images/ico_home.png") no-repeat 4px 4px; width: 24px; height: 24px; margin-right: 20px; float: right;
}
.homepage a {
	width: 24px; height: 24px; float: left; display: block;
}
.hotlineicon {
	background: url("../images/ico_24hotline.png") no-repeat; margin: 3px; padding: 1px 0px 0px 28px; float: right;
}
.ICPNo {
	float: left;
}
.return_top {
	background: url("../images/top.png") no-repeat left 4px; width: 36px; height: 24px; float: right;
}
.return_top a {
	width: 36px; height: 24px; float: left; display: block;
}
#dv_sea {
	display: none;
}
.txt01 {
	border-width: 0px 0px 1px; border-style: none none solid; border-color: currentColor currentColor rgb(238, 238, 238); border-image: none; width: 540px; height: 25px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
#Date {
	border-width: 0px 0px 1px; border-style: none none solid; border-color: currentColor currentColor rgb(238, 238, 238); border-image: none; width: 540px; height: 25px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.txt01:hover {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(249, 249, 249);
}
#Date:hover {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(249, 249, 249);
}
.txta01 {
	border: 1px solid rgb(238, 238, 238); border-image: none; width: 540px; height: 80px; color: rgb(51, 51, 51);
}
.txta01:hover {
	border: 1px solid rgb(204, 204, 204); border-image: none;
}
.lbl01 {
	
}
.box01 {
	margin-bottom: 10px;
}
.jobName {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 160px; height: 20px;
}
#YYSimpleCalendar1 {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 120px; height: 20px;
}
#YYSimpleCalendar2 {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 120px; height: 20px;
}
.navURL {
	margin: 0px 0px 10px; padding: 5px; color: rgb(0, 0, 0);
}
.f_row {
	height: 40px; clear: both; float: left;
}
.f_field_title {
	width: 160px; float: left;
}
.dv_content {
	padding: 25px; width: 720px; color: rgb(102, 102, 102); float: left;
}
.hide {
	display: none;
}
.pictureList {
	width: 320px; height: 210px; margin-right: 30px; margin-bottom: 50px; float: left;
}
.listImg {
	
}
.listImg img {
	width: 320px; height: 180px;
}
.listTitle {
	width: 320px; height: 30px; line-height: 30px;
}
.pagination {
	width: 700px; text-align: right; font-size: 14px; float: left;
}
