
/*
* 主框
-----------------------------------------*/
#mainDiv{
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    min-width: 500px;
    padding: 10px;
    padding-bottom: 40px;
    background-color: #B0B0B0;
    opacity: 1.0;
    text-align: center;
    border: 1px outset #777;
}

/*
* 标签页的内容板
-------------------------------------*/
.panel{
    width: inherit;
    height: inherit;
}

.panel-body{
    padding: 20px;
}

/*
* 标签页内容对齐
--------------------------------------*/
#new_proj_layout_table,
#open_proj_tree_label,
#open_proj_tree_div
{
    margin-left: 20px;
}

/*
* 打开项目的标签相关
--------------------------------------*/
#open_proj{
    overflow: hidden;
}

#open_proj_tree_label{

}

#open_proj_tree_div{
    margin-top: 10px;
    border: 1px solid #ccc;
    width: auto;
    height: 350px;
    overflow: auto;
}








/*
* 底部按键栏
---------------------------------*/
#button_bar{
    margin-top: 10px;
}