
#workArea{
    height: 100%;
}


#svg_drawing{
    display:inline-block;
    *display:inline;
    *zoom:1;
    height: 100%;
    background-color: #ffffff;
}

#svg_content g:hover{
    cursor: move;
}

